.black {
    background: black;
}
.pink {
    background: pink;
}
.grey {
    background: gray;
}
.white {
    background: white;
}
.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.SkyBlue {
    background: skyblue;
}
.yellow {
    background: yellow  ;
}

.orange {
    background: orange;
}

