@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/css?family=Pacifico");

* {
  font-family: "Cabin", sans-serif;
}
.textAge {
  cursor: pointer;
}
.textAge div {
  font-family: "Pacifico", cursive;
  font-size: 4.5rem;
  margin: 10px 0;
}
#male {
  background-image: url(./img/men.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 450px;
  height: 420px;
  cursor: pointer;
}

#female {
  background-image: url(./img/woman.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 450px;
  height: 420px;
  cursor: pointer;
}

.blockAll {
  margin: 24px 0;
}
.textDesign {
  font-size: 1.3em;
  margin: 6px;
  padding: 6px;
}
h2 {
  font-size: 2em;
  color: gray;
  font-weight: bolder;
  margin: 9px;
  padding: 9px;

}