@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/css?family=Pacifico");

* {
  font-family: "Cabin", sans-serif;
}
.textAge {
  cursor: pointer;
}
.textAge div {
  font-family: "Pacifico", cursive;
  font-size: 4.5rem;
  margin: 10px 0;
}
#male {
  background-image: url(./img/men.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 250px;
  cursor: pointer;
  margin-top: 25px;
}

#female {
  background-image: url(./img/woman.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 250px;
  cursor: pointer;
  margin-top: 25px;
}

.blockAll {
  margin: 0 24px ;
}
.textDesign {
  font-size: 1.4em;
  margin:  5px 16px;
  padding: 5px 16px;
}
h2 {
  font-size: 2em;
  color: gray;
  font-weight: bolder;
  margin: 15px;
  padding: 15px;
}
